<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/cornerstone-core"></script>
    <script src="https://unpkg.com/cornerstone-math"></script>
    <script src="https://unpkg.com/cornerstone-wado-image-loader"></script>
    <script src="https://unpkg.com/dicom-parser"></script>
    <script src="https://unpkg.com/cornerstone-tools"></script>
    
    <title>Visualizador DICOM</title>

</head>
<body id="body">
    <div class="menuNav"></div>
    <script>
        $(document).ready(function () {
            $('.menuNav').load('./navbar');
        });
    </script>


    {%if mensaje=='normal'%}
    <div class="visualizador-container" id="Visualizador">
        <form action="{{url_for('visualizador')}}" method="POST" enctype="multipart/form-data">
            <p>
                <input type="file" id="select-file" name="file" placeholder="file"></input>
            </p>
            <p>
                <input type="submit" id="upload-file" value="Subir archivo Dicom"></input>
            </p>
        </form>
    </div>
    {%endif%}
    

    {%if mensaje=='falla1' or mensaje=='falla2' %}
    <div class="visualizador-container" id="Visualizador">
        <div class="alert alert-danger" role="alert">
           No se ha subido un archivo.
        </div>
        <form action="{{url_for('visualizador')}}" method="POST" enctype="multipart/form-data">
            <p>
                <input type="file" id="select-file" name="file" placeholder="file"></input>
            </p>
            <p>
                <input type="submit" id="upload-file" value="Subir archivo Dicom"></input>
            </p>
        </form>
    </div>
    {%endif%}
    
    
    {% if mensaje=='falla3' %}
    <div class="visualizador-container" id="Visualizador">
        <div class="alert alert-danger" role="alert">
            Archivo subido no es Dicom. Vuelva a intentarlo.
        </div>
        <form action="{{url_for('visualizador')}}" method="POST" enctype="multipart/form-data">
            <p>
                <input type="file" id="select-file" name="file" placeholder="file"></input>
            </p>
            <p>
                <input type="submit" id="upload-file" value="Subir archivo Dicom"></input>
            </p>
        </form>
    </div>
    {% endif %}

    
    {%if mensaje=='listoo'%}
    <div id="dicom-image" class="visualizador-container">
        <div id="dicom-viewer" style="width:512px; height:512px; background-color:black;"></div>
        <button id="measure-btn">Activar Regla</button>
    </div>
    <script>
        var uploadFilename = "{{ archivo }}";
        const imageUrl = "{{ url_for('static', filename='uploads/') }}" + uploadFilename; 
    </script>
    <script src="{{ url_for('static', filename='JS_Visualizador.js') }}"></script>
    {% endif %}
    
</body>
</html>