<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='Imagenes/logompr.jpg') }}" type="image/jpg">

    <!-- incluir libreria hammer.js for touch gestures-->
    <script src="https://unpkg.com/hammerjs@2.0.8/hammer.js"></script>
    <script src="https://unpkg.com/dicom-parser@1.8.3/dist/dicomParser.min.js"></script>

    <!-- incluir libreria cornerstone -->
    <script src="https://unpkg.com/cornerstone-core"></script>
    <script src="https://unpkg.com/cornerstone-math"></script>
    <script src="https://unpkg.com/cornerstone-wado-image-loader"></script>

    <script src="https://unpkg.com/cornerstone-tools@%5E4"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        #axial-view, #coronal-view, #sagittal-view {
            width: 300px;
            height: 300px;
            border: 1px solid black;
        }
    </style>
    <title>Visualizador DICOM</title>

</head>
<body id="body">
    <div class="menuNav"></div>
    <script>
        $(document).ready(function () {
            $('.menuNav').load('./navbar');
        });
    </script>


    {%if mensaje=='normal'%}
    <div class="visualizador-container" id="Visualizador">
        <form action="{{url_for('visualizador')}}" method="POST" enctype="multipart/form-data">
            <p>
                <input type="file" id="select-file" name="files" placeholder="file" multiple></input>
            </p>
            <p>
                <input type="submit" id="upload-file" value="Subir archivo Dicom"></input>
            </p>
        </form>
    </div>
    {%endif%}
    

    {%if mensaje=='falla1' or mensaje=='falla2' %}
    <div class="visualizador-container" id="Visualizador">
        <div class="alert alert-danger" role="alert">
            No se ha subido un archivo.
        </div>
        <form action="{{url_for('visualizador')}}" method="POST" enctype="multipart/form-data">
            <p>
                <input type="file" id="select-file" name="files" placeholder="file" multiple></input>
            </p>
            <p>
                <input type="submit" id="upload-file" value="Subir archivo Dicom"></input>
            </p>
        </form>
    </div>
    {%endif%}
    
    
    {% if mensaje=='falla3' %}
    <div class="visualizador-container" id="Visualizador">
        <div class="alert alert-danger" role="alert">
            Archivo subido no es Dicom. Vuelva a intentarlo.
        </div>
        <form action="{{url_for('visualizador')}}" method="POST" enctype="multipart/form-data">
            <p>
                <input type="file" id="select-file" name="files" placeholder="file" multiple></input>
            </p>
            <p>
                <input type="submit" id="upload-file" value="Subir archivo Dicom"></input>
            </p>
        </form>
    </div>
    {% endif %}

    
    {%if mensaje=='listoo'%}
    <div id="dicom-image" class="visualizador-container">
        <div id="view-container" style="display: flex; justify-content: space-around;">
            <!-- Vista Axial -->
            <div>
                <h3>Vista Axial</h3>
                <div id="axial-view" style="width: 300px; height: 300px; background-color: rgb(0, 0, 0); border: 2px solid white;"></div>
            </div>
            <!-- Vista Coronal -->
            <div>
                <h3>Vista Coronal</h3>
                <div id="coronal-view" style="width: 300px; height: 300px; background-color: rgb(0, 0, 0); border: 2px solid white;"></div>
            </div>
            <!-- Vista Sagital -->
            <div>
                <h3>Vista Sagital</h3>
                <div id="sagittal-view" style="width: 300px; height: 300px; background-color: rgb(0, 0, 0); border: 2px solid white;"></div>
            </div>
            </div>
                <button class="btn btn-primary" id="measure-btn">Regla</button>
                <button class="btn btn-primary" id="zoom-btn">Zoom</button>
            </div>
        <div class="info-button-container">
            <button id="info-btn" class="btn btn-info">Mostrar Información del DICOM</button>
        </div>

        <div id="dicom-info-card" class="dicom-info-card" style="display:none;">
            <h3>Información del DICOM</h3>
            <p><strong>Nombre del Paciente:</strong> {{ dicom_info['PatientName'] }}</p>
            <p><strong>ID del Paciente:</strong> {{ dicom_info['PatientID'] }}</p>
            <p><strong>Fecha del Estudio:</strong> {{ dicom_info['StudyDate'] }}</p>
            <p><strong>Modalidad:</strong> {{ dicom_info['Modality'] }}</p>
            <p><strong>Institución:</strong> {{ dicom_info['InstitutionName'] }}</p>
            <p><strong>Parte del Cuerpo:</strong> {{ dicom_info['BodyPartExamined'] }}</p>
        </div>

    </div>
    <script>
        var uploadFilename = "{{ archivo }}";
        const imageUrl = "{{ url_for('static', filename='uploads/') }}" + uploadFilename; 
    </script>
    <script src="{{ url_for('static', filename='JS_Visualizador.js') }}"></script>
    {% endif %}
    
</body>
</html>